
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%; 
    background-color: var(--major-color);
    overflow-x: hidden;
  }
  :root {
    --primary-color: #015575;
    --secondary-color: #ff6347;
    --major-color: #f1f1f1;
    --hover-color: rgb(71, 69, 69);
    --black-color: #1f1f1f;
    --sub-color:#0787BE;
    --photo-background:#E1E1E1;
    --white-color:var(--white-color);
    --light-blue:#67d1fe;
  }
  h1 ,h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }
  .board-member{
    padding: 50px;
    display: flex;
    margin-top: 40px;
  }
  .head-post{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}
  .head-post .chairperson{
    height: 200px;
    width: 400px;
    border: 7px solid var(--primary-color);
    border-radius: 40px;
    position: relative;
background-color: var(--photo-background);
  }
  .photo{
    padding: 0;
    border-radius: 50%
  }
  .photo img{
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo img:hover{
    height: 160px;
    width: 160px;
    border-color:var(--photo-background) ;
  }
  .chairperson .info{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }
.chairperson .info .name{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 700;
}
.chairperson .info .position{
    color: var(--sub-color);
}
.sub-member{
margin-top: 50px;
margin-bottom: 40px;
  padding-left: 50px ;
  padding-right:50px ;
    height: auto;
    width:100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,150px);
    column-gap: 70px;
    row-gap: 70px;
}
.sub-member .grid{
    border-top: 3px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-radius: 10px;
    position: relative;
}
.sub-member .sub-member-photo img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
position: absolute;
bottom: 80%;
left: 50%;
transform: translateX(-50%);
border: 2px solid var(--primary-color);
}
.sub-member .sub-info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.sub-member .name{
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.sub-member .position{
  color: var(--sub-color);
}

.sub-member .sub-member-photo img:hover{
  border: 2px solid var(--photo-background);
  height: 90px;
  width: 90px;
}